.tarif{
margin-left: 550px;
border: 10px;
margin-right: 600px;
}
.tarif2{
margin-left: 550px;
border: 10px;
}
.tarif3{
    margin-left: 550px;
    border: 10px;
    margin-right: 630px;
    }